@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Special Elite", cursive;
}
h1,
h2,
h3,
p,
a {
  padding: 0;
  margin: 0;
}
p,
a,
span {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
span,
label {
  font-size: 0.85em;
}
input,
select {
  padding: 1em 2em;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
}
.disabled {
  color: #999;
  text-decoration: line-through;
}
.clickable {
  cursor: pointer;
}
button {
  border: 0;
  background: 0;
  font-size: 1em;
  cursor: pointer;
  font-weight: normal;
  box-shadow: 0;
}
.hyperlink {
  text-decoration: underline;
}
.cta {
  background-color: #222;
  color: #fff;
  padding: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.ctadisabled {
  background-color: #ddd;
  color: #fff;
  padding: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  cursor: default;
}


/* form div {
  margin: 1em;
  display: inline-block;
} */

/**************/
/* Navigation */
#navbar {
  border-bottom: 1px solid #dbdbdb;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
/* JP  fixed position nav bar*/
  position: fixed;
  top:0;
  overflow: hidden;
  width: 95%;
  background-color: white;
}
body > div{
  margin-top: 7rem;
}
/* JP end changes (dropdown needs to be on top if this is kept */

.logo {
  font-family: "Special Elite", cursive;
  color: #222;
  margin: 0;
}

#navbar > div > div {
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 1.5;
}
#navbar > div:first-child {
  display: inline-block;
}
@media only screen and (max-width: 890px) {
  #navbar > div:first-child > a:first-child {
    font-size: 0.7em;
    width: 100px;
    line-height: 1;
    vertical-align: middle;
    padding: 0.8em 0 0.2em 0;
    display: inline-block;
  }
}

#navbar a,
#navbar p {
  display: inline-block;
  margin-right: 1em;
  padding: 1em 0;
  line-height: 3em;
}
#navbar button {
  padding: 1em 0;
}
#navbar svg {
  margin-bottom: -4px;
}
#navbar > div > a:first-child {
  margin: 0 2em 0 0;
}
#navbar > div:first-child > div > a:hover,
#navbar p:hover {
  border-bottom: 10px solid #222;
  line-height: calc(3em - 20px);
}
.container {
  padding: 2em;
}
.timedAlert h3 {
  padding: 0.5em 1em;
  background-color: #222;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 2em;
}

/*************/
/* dropdown */
#account-dropdown {
  background-color: #fff;
  position: absolute;
  top: 5.1em;
  right: 2em;
  text-align: center;
  border-bottom: 0.5em solid #222;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  z-index: 99;
}
#account-dropdown ul {
  margin: 0;
  padding-inline-start: 0;
}
#account-dropdown ul > div {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
#account-dropdown span:first-child {
  width: 100%;
  padding: 1em 0;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 0.8em;
}
#account-dropdown li {
  list-style: none;
}
#account-dropdown li:hover {
  background-color: #f7f7f7;
}
#account-dropdown a {
  padding: 0 1em;
}
#account-dropdown span:hover,
#account-dropdown a:hover {
  border: 0;
}

/**************/
/* Home */
.hero {
  height: 500px;
  background-image: url("https://cdn.shopify.com/s/files/1/0056/4562/files/Project_Flywheel_Vanilla_Hero_1_1500x.jpg?v=1627657803");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  margin-bottom: 2em;
}

/**************/
/* Product List */
.filterList {
  display:flex;
}
.itemList{
  padding-bottom: 5em;
}
.itemList h3{
  width: 90%;
  margin: 0 auto;
}
.itemList img{
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.itemList p {
  display: inline-block;
  width: fit-content;
  padding: 5%;
}
.itemList ul {
  padding: 5%;
  margin: 0;
  display: inline-block;
}
.itemList li {
  display: inline-block;
  list-style: none;
  width: 1.5em;
  text-align: center;
}
.itemList li:last-child {
  background-color: #ededed;
}
.itemList ul button {
  padding: 0;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.itemList > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.filter {
  width:20%;
  padding-right: 4%;
  margin-top: 1em;
}
.filter > div {
  padding-top: 0.5em;
}
.filter > div > div {
  margin-bottom: 0.5em;
}

/* each item card decoration on item list */
.col3 .itemcard {
  width: 32%;
}
.col4 .itemcard {
  width: 24%;
}
.itemcard {
  border: 1px solid #dbdbdb;
  padding-bottom: 1em;
  margin-bottom: 1em;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow:hidden;
}
.itemcard:hover {
  box-shadow: 2px 2px 4px #ddd;
  border: 1px solid #222;
}
.itemcard:hover img{
  transform: scale(1.01);
  overflow:hidden;
}

/* Filter radio button style */
.filter input[type="checkbox"],
.filter input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.filter label {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  display: inline-block
}
.filter label:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #999;
  border-radius: .25em;
  z-index: -1;
  display: inline-block
}
.filter input[type="radio"] + label::before {
  border-radius: 1em;
}
/* Checked */
.filter input[type="radio"]:checked + label {
  padding-left: 1em;
  font-weight:bold;
}
.filter input[type="radio"]:checked + label:before {
  top: 0;
  width: 100%;
  height: 2em;
  background: #ededed;
  border: 1px solid #999;
}

/* Transition */
.filter label,
.filter label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Filter radio button style END*/

/*** Single Item Views ***/
/* JP */
#profilecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#profilecontainer svg {
  width: 25px;
  height:25px;
  overflow: visible;
  fill: #222;
  padding-right:2em;
}
#profileleft {
  flex-basis: 25%;
  align-items: center;
  justify-content: center;
  /* flex-grow: 1; */
}
#profileright {
  flex-basis: 70%;
  /* flex-grow: 1; */
}
#profileleft {
  display: flex;
  flex-basis: calc(40% - 4em);
  align-items: center;
  background-color: #f7f7f7;
  min-height: calc(100vh - 9em);
  height: max-content;
}
#profileright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(60% - 4em);
  min-height: calc(100vh - 9em);
}

.full-width-list ul{
  width:100%;
  margin: 0;
  padding: 0;
}
.full-width-list li {
  width: 100%;
  list-style:none;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh / 4.5);
  min-height: 60px;
  padding: 0 2em;
}
.full-width-list li div:first-child {
  padding-left: 2em;
}

.formfield label {
  position: relative;
  margin-left: 10px;
  background-color: #fff;
  align-items: center;
  font-weight: bold;
  z-index: 99;
  top: -4em;
  padding: 0 0.5em;
}
.formfield > input {
  margin-top: 0.5em;
  padding: 1em;
  width: calc(100% - 2em);
}
.formfield > select {
  margin-top: 0.5em;
  padding: 1em;
  width: 100%;
}
.formfield:last-child span {
  display: block;
  padding-bottom: 1em;
}
.formfield:last-child a {
  display: inline-block;
  margin: 0 1em;
}


.flex-v-remover #profileright{
  align-items: normal;
}
#orderhistory ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}
table,
tr,
td,
th {
  border: 1px solid rgb(198, 197, 202);
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0.2em 0.5em;
}
#orderstatustable {
  width: 100%;
  border: 1px solid black;
  overflow-x: auto;
}
#orderstatustable th{
  background-color: #ededed;
}
.tblcenter {
  text-align: center;
}
.tblright {
  text-align: right;
}
#orderaddresses {
  display: flex;
}
#orderaddresses > ol > li {
  list-style: none;
}
#orderdetails {
  border: 1px solid black;
  width:100%;
  display: inline-block;
}
#orderstatusdetailtable {
  width: 90%;
  overflow-x: auto;
  margin-left: 10%;
  margin-top: 0.1rem;
  margin-bottom: 0.75rem;
}

/* #orderstatustable tr:nth-child(even) {
  background-color: #ededed;
}
#orderstatusdetailtable tr:nth-child(even) {
  background-color: white;
} */

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

/* JP END */
/**************/
/* Product List - ADMIN */
.itemList-admin {
  padding-top: 2em;
}
.itemList-admin h2 {
  text-align: center;
}
.itemList-admin > div > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #dbdbdb;
  padding: 2em 0;
}
.itemList-admin > div > div:last-child {
  border-bottom: 0;
}
.itemList-admin > div > div > * {
  width: fit-content;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}
.itemList-admin img {
  max-width: 10em;
  display: block;
}
.product-basicInfo {
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
}
.product-description {
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
}

/**************/
/* LOGIN */







/**************/
/* Footer */
#footer {
  width: 100%;
  background-color: #222;
  color: #ededed;
}
#footer div {
  width: calc(100% - 4em);
  padding: 2em;
  text-align: center;
  letter-spacing: 0.03em;
}
#confirmationcontainer{
  background-color: wheat;
  border:1px solid black;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 3%;
}
#confirmationinnercontainer{
  border-radius: 2%;
  background-color: white;
  border:1px solid black;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
}
#confirmationcontainer h3{
  color:green;
}
#confirmimg{
  height: 4rem;
  width: auto;
}
#confirmcheck{
  height: 2rem;
  width: auto;
}
#confirmationcontainer a{
  text-decoration: red;
}
#confirmtop{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#confirmtop h3{
  margin-left: 5rem;
}